.btn-ghost {
  font-family: 'Tenor Sans', sans-serif;
  color: #062340;
  border: 1px solid #062340;
  background-color: #898f92;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
