.container {
  margin: 10px;
  color: #898f92;
  font-family: 'Tenor Sans', sans-serif;
}

i {
  color: #898f92;
}

thead {
  border-bottom: solid;
  border-bottom-color: #898f92;
}

th, td {
  padding: 10px;
}
